<div class="container">


    <title>Home</title>

    <div class="container">

      <div class="welcome-heading">
        <h1>Hello! Welcome to Go Colmate!</h1>
      </div> 
    <div class="row results1">
      
      <div ng-repeat="friend in Search_data.friends" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3><a href="#">{{friend.name}}</a></h3>
                      <h4>{{friend.highschool}}</h4>
                      <h4>{{friend.college}}</h4>
      </div>
      
    </div>
    

      
</div><!-- /.container -->

