<div class="container">

      <div class="welcome-heading">
        <h1>Hello! Welcome to roomate.finder!</h1>
        <h3>Angular App Below</h3>
        <h3>{{appName}}</h3>
      </div>
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="#" class="btn btn-primary btn-lg btn-block">Search For Roommates</a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="#" class="btn btn-primary btn-lg btn-block">View Your Profile</a>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="#" class="btn btn-primary btn-lg btn-block">View Your Settings</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="#" class="btn btn-primary btn-lg btn-block">View Your Contact List</a>
    </div>
    </div>

      
    </div><!-- /.container -->

  </body>
</html>
