<div class="container">

      <div class="welcome-heading">
        <h1>Hello! Welcome to Go Colmate!</h1>
      </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 profile-photo">
        <img src="Images/profile-pic.jpg" alt="profile photo" title="Profile Photo">
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8 profile-summary">
        <h2>Jane Doe</h2>
        <ul> 
          <li>Female</li>
          <li>Junior</li>
          <li>West High School, Knoxville, TN</li>
          <li>University of Tennessee, Middle Tennessee State University, University of Texas</li>
        </ul>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#" class="btn btn-primary btn-lg btn-block">Edit Your Settings</a>
        <a href="#" class="btn btn-primary btn-lg btn-block">Search For Roommates</a>
    </div>
    </div>

      <div class="row profile-description">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>Biography</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer laoreet faucibus varius. Aliquam aliquam condimentum ex eget lobortis. Duis vel hendrerit sapien, vel posuere ipsum. Aenean dapibus nunc a felis rutrum egestas. Praesent vehicula justo libero, quis ultrices neque vehicula nec. Aliquam nunc libero, iaculis ac odio ullamcorper, rutrum cursus risus. Sed blandit nunc eu finibus suscipit. Vestibulum dignissim gravida malesuada. Donec non ante in ipsum aliquet iaculis non vel odio.</p>

            <p>Vestibulum ultrices, libero eget commodo maximus, quam erat aliquet massa, vel vestibulum diam nunc tristique enim. Nulla iaculis ornare augue vitae consequat. Ut ac consectetur erat, non iaculis metus. Aliquam erat volutpat. Curabitur interdum lorem accumsan ante laoreet hendrerit. Cras ac vehicula ex. Curabitur tristique pulvinar tellus. Duis arcu leo, cursus nec vestibulum sit amet, malesuada nec tellus. Ut elementum tellus sit amet nulla convallis egestas. Integer aliquet metus eget porttitor vulputate. In tincidunt nibh nisi, eu facilisis sem posuere non. Vivamus a ultricies velit, vel pellentesque eros. Curabitur at dapibus tellus, et pellentesque mi. Aliquam et eros vel lacus aliquet accumsan. Ut tempus dictum leo, in vehicula turpis convallis eget. Pellentesque sollicitudin nisl velit, non efficitur elit sagittis eu.</p>
            
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>Likes/Dislikes</h3>
            <ul>
              <li>Lorem ipsum</li>
              <li>dolor sit amet,</li> 
              <li>consectetur adipiscing elit. Fusce sem.</li>
            </ul>
        </div>
      <!--</div>-->
      <!--<div class="row"><-->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>Rooming Likes/Dislikes</h3>
            <ul>
              <li>Lorem ipsum</li>
              <li>dolor sit amet,</li> 
              <li>consectetur adipiscing elit. Fusce sem.</li>
              <li>Lorem ipsum</li>
              <li>consectetur adipiscing elit. Fusce sem.</li>
          </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>Disabilities/Medical Conditions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      <!--</div>-->
        
    
  
    </div><!-- /.container -->